asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.7
beautifulsoup4==4.9.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.3
docutils==0.16
Flask==2.0.1
idna==2.10
isort==5.4.2
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.19.1
pandas==1.2.0
Pillow==7.2.0
pycodestyle==2.7.0
Pygments==2.8.1
pylint==2.6.0
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==300
requests==2.25.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
urllib3==1.26.4
Werkzeug==2.0.1
wrapt==1.12.1
